<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form id="login-form" action="/auth/login">
    <div>
        <label for="">Username</label>
        <input type="email" name="username" required>
    </div>
    <div>
        <label for="">Password</label>
        <input type="password" name="password" required>
    </div>
    <div>
        <input type="submit" value="Register" name="register">
        <input type="submit" value="Login" name="login">
    </div>
</form>
<div id="error">
    {{.Error}}
</div>
</body>
</html>
<style>
    #login-form div {
        text-align: center;
    }

    #login-form input {
        margin: .5em 1em;
    }

    #error {
        text-align: center;
        color: red;
    }
</style>